.profile-wrapper {
  position: relative;
  z-index: 0;
  text-align: center;
}

.profile-cover-photo {
  width: 100%;
}

.profile-page-avatar {
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-87px);
  margin: 0 auto;
  z-index: 1;
  display: block !important;
}

.profile-page-btns {
  position: absolute;
  top: 9%;
  right: 5%;
  z-index: 2;
  width: 12%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
}

.profile-page-btns > button {
  width: 45px;
}

.profile-firstname {
  margin: 0;
}

.profile-wrapper .card {
  padding-top: 90px;
}

.ratings-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.stars-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0px;
  padding: 0 15px;
}

.contact-wrapper {
  padding: 5% 5% 5% 10%;
}

.edit-profile-form {
  position: absolute;
  z-index: 3;
  top: 10vh;
  padding: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  width: 280px;
  margin-top: -175px; /* Half the height */
  margin-left: -140px; /* Half the width */
  animation: fromTop 0.4s cubic-bezier(0.1, 1.13, 0.83, 1.01) 0s 1 normal;
}

.close-edit-form {
  position: absolute;
  top: 5%;
  right: 5%;
}

.delete-profile-alert {
  position: absolute;
  z-index: 3;
  top: 10vh;
  padding: 30px;
  border-radius: 10px;
  top: 50%;
  left: 45%;
  width: 40%;
  margin-top: -175px; /* Half the height */
  margin-left: -140px; /* Half the width */
  animation: fromTop 0.4s cubic-bezier(0.1, 1.13, 0.83, 1.01) 0s 1 normal;
}

@keyframes fromTop {
  0%   {  transform: translateY(-50rem); }
  100% { transform: translateY(0); }
}

@media screen and (min-width: 600px) {
  .edit-profile-form {
    padding-top: 50px;
    width: 350px;
    /* height: 450px; */
    margin-top: -225px; /* Half the height */
    margin-left: -175px; /* Half the width */
  }
}
