.requests-container {
    text-align: center;
    margin: 80px auto 0 auto;
}

.req-subcontainer {
    max-width: 1000px;
    margin: 0 auto;
}

.req-list-item {
    height: 70px !important;
    width: 100%; 
}

.hide-req-details {
    display: none;
}

.show-req-details {
    display: block;
    padding: 2% 0;
}

.cancel-req-btn {
    padding: 0 !important;
    white-space: initial;
}